<%= partial "shared/head" %>
<%= partial "shared/header" %>
<body class="antialiased flex flex-col min-h-screen justify-center">
  <main class="flex-1">
    <%= yield %>
  </main>
  <%= partial "shared/footer" %>