    <footer class="py-4 border border-gray-200">
        <div class="mx-auto w-11/12 max-w-6xl flex justify-between items-center">
            <div class="w-1/2">
                <p>Vacantes de Trabajo Para Diseñadores, Fotógrafos, Aquitectos e Ilustradores</p>
            </div>
            <div class="w-1/2 text-right">
                <a title="Creativos Work Twitter" href="https://twitter.com/creativoswork" target="_blank">@creativoswork en Twitter</a>
            </div>
        </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <%= javascript_include_tag "site" %>
</body>
</html>