    <footer class="py-4 border border-gray-200">
        <div class="mx-auto w-11/12 max-w-6xl flex justify-between items-center">
            <div class="w-1/2">
                <p>Vacantes de Trabajo Para Diseñadores, Fotógrafos, Aquitectos e Ilustradores</p>
            </div>
            <div class="w-1/2 text-right">
                <a title="Creativos Work Twitter" href="https://twitter.com/creativoswork" target="_blank">@creativoswork en Twitter</a>
            </div>
        </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/27a531f1b5f8227255e206cb2/ca8f4f8db016fe9c89ccc6c81.js");</script>
    <%= javascript_include_tag "site" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142717198-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142717198-1');
    </script>
</body>
</html>